version: "3.9"
services:
  k8-rebuild-rest-api:
    build:
      context: ./k8-rebuild-rest-api
      dockerfile: Source/Service/Dockerfile
    ports:
      - "8888:80"
  k8-java-api-code-samples:
    build: .
    environment:
      - "REBUILD_API_URL=http://k8-rebuild-rest-api"
    ports:
      - "9999:8080"
    volumes:
      - "./samples:/samples"
  k8-rebuild-file-drop:
    build: ./k8-rebuild-file-drop/app
  reverse-proxy:
    image: nginx:alpine
    restart: unless-stopped
    environment:
      - NGINX_ENTRYPOINT_QUIET_LOGS=1
    ports:
      - 80:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro